<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
            {% endblock title %}

            {% if self.title().strip() %}|{% endif %}
            {{ config.APP_NAME }}
        </title>
        {{ vite_asset("resources/js/app.ts") }}

    </head>

    <body>
        {% block body %}
        {% endblock body %}


        {% if config.DEBUG %}
            <script>
                if (typeof window.htmx !== "undefined") {
                    htmx.on("htmx:afterSettle", function(detail) {
                        if (
                            typeof window.djdt !== "undefined" &&
                            detail.target instanceof HTMLBodyElement
                        ) {
                            djdt.show_toolbar();
                        }
                    });
                }
            </script>
        {% endif %}
    </body>

</html>
