# set to a large random string, run below to generate
# python -c "import secrets; print(''.join(secrets.token_urlsafe() for _ in range(3)))"
DJANGO_SECRET_KEY=
# set to true to enable debug mode
DJANGO_DEBUG=
# set to the domain name of your site (no scheme)
DJANGO_HOST=
# port for the app to listen on
DJANGO_PORT=
# set to the domain name of your site (with scheme)
# multiple separated by ;
DJANGO_CSRF_TRUSTED_ORIGINS=
# set to number higher than 0 to enable HSTS
# can break site for n seconds if it ever loses HTTPS
# 7 days = 604800
DJANGO_SECURE_HSTS_SECONDS=
# set to the db url
DJANGO_DB_URL=
# set higher than 0 to enable db connection pooling
# 600 is a good value
DJANGO_DB_CONN_MAX_AGE=