{{'{%'}} extends '{{ target_app }}/base.html' {{'%}'}}
{{'{%'}} block main {{'%}'}}

<div class="mt-4">
    {{'{%'}} with {{ model_name_lower }}_list=[{{ model_name_lower }}], edit=True, delete=True {{'%}'}}
    {{'{%'}} include '{{ target_app }}/{{ model_name_plural_lower }}/partials/table.html' {{'%}'}}
    {{'{%'}} endwith {{'%}'}}
</div>
{{'{%'}} endblock main {{'%}'}}
