{{'{%'}} extends "layouts/base.html" {{'%}'}}

{{'{%'}} block body {{'%}'}}
    <main class="container mx-auto">
        {{'{%'}} block main {{'%}'}}
        {{'{%'}} endblock main {{'%}'}}
    </main>
{{'{%'}} endblock body {{'%}'}}

