{{'{%'}} extends 'layouts/{{ app_name }}.html' {{'%}'}}

{{'{%'}} block main {{'%}'}}

{{'{#'}} create button {{'#}'}}
<div class="flex justify-end mt-4">
    <a href="{{'{{'}} url("{{ model_name_plural_lower }}:create") {{'}}'}}" class="rounded-b-none btn btn-primary" up-layer="new" up-accept-location="{{'{{'}} url("{{ model_name_plural_lower }}:detail", pk=0).replace('0', '$id') {{'}}'}}" up-on-accepted="location.href=value.location">Create {{ model_name }}</a>
</div>

{{'{#'}} table {{'#}'}}
<div>
    {{'{%'}} with hover=True, paginate=True {{'%}'}}
    {{'{%'}} include '{{ app_name }}/{{ model_name_plural_lower }}/partials/table.html' {{'%}'}}
    {{'{%'}} endwith {{'%}'}}
</div>
{{'{%'}} endblock main {{'%}'}}
