{{'{%'}} set hover = hover or False {{'%}'}}
{{'{%'}} set paginate = paginate or False {{'%}'}}
{{'{%'}} set edit = edit or False {{'%}'}}
{{'{%'}} set delete = delete or False {{'%}'}}


<div class="p-2 bg-base-300">
    {{'{#'}} table container {{'#}'}}
    <div class="overflow-x-auto">
        {{'{#'}} table {{'#}'}}
        <table class="table">
            <thead>
                <tr>
                    {{'{#'}} fields titles {{'#}'}}
                    <th></th>

                    {{'{#'}} edit / delete buttons {{'#}'}}
                    {{'{%'}} if edit or delete {{'%}'}}
                    <th>Actions</th>
                    {{'{%'}} endif {{'%}'}}
                </tr>
            </thead>
            <tbody class="bg-base-100">
                {{'{%'}} for {{ model_name_lower }} in {{ model_name_lower }}_list {{'%}'}}
                <tr {{'{%'}} if hover {{'%}'}}class="cursor-pointer hover" onclick="this.querySelector('a')?.click()"{{'{%'}} endif {{'%}'}}>
                    {{'{#'}} field values {{'#}'}}
                    <td></td>

                    {{'{#'}} edit and delete button {{'#}'}}
                    {{'{%'}} if edit or delete {{'%}'}}
                    <td>
                        <div class="flex gap-2">
                            {{'{%'}} if edit {{'%}'}}
                            {{'{#'}} edit button {{'#}'}}
                            <a href="{{'{{'}} url("{{ model_name_lower }}s:update", pk={{ model_name_lower }}.pk) {{'}}'}}" class="btn btn-sm btn-primary" up-layer="new">Edit</a>
                            {{'{%'}} endif {{'%}'}}
                            {{'{%'}} if delete {{'%}'}}
                            {{'{#'}} delete button {{'#}'}}
                            <a href="{{'{{'}} url("{{ model_name_lower }}s:delete", pk={{ model_name_lower }}.pk) {{'}}'}}" class="btn btn-sm btn-error" up-layer="new">Delete</a>
                            {{'{%'}} endif {{'%}'}}
                        </div>
                    </td>
                    {{'{%'}} endif {{'%}'}}
                </tr>
                {{'{%'}} endfor {{'%}'}}
            </tbody>
        </table>
    </div>

    {{'{#'}} pagination {{'#}'}}
    {{'{%'}} if paginate {{'%}'}}
    <div class="px-4 mt-4">
        {{'{{'}} pagination_links(request, paginator, page_obj, with_query_params=True, object_name="{{ model_name }}s") {{'}}'}}
    </div>
    {{'{%'}} endif {{'%}'}}
</div>
