{{'{%'}} set hover = hover or False {{'%}'}}
{{'{%'}} set paginate = paginate or False {{'%}'}}
{{'{%'}} set edit = edit or False {{'%}'}}
{{'{%'}} set delete = delete or False {{'%}'}}


<div class="p-2 bg-base-300">
{{'{%'}} if {{model_name_lower}}_list {{'%}'}}
    
    {{'{#'}} table container {{'#}'}}
    <div class="overflow-x-auto">
        {{'{#'}} table {{'#}'}}
        <table class="table" id="{{ model_name_lower }}Table">
            <thead>
                <tr>
                    {{'{#'}} fields titles {{'#}'}}
                    {% for field in model._meta.get_fields()|selectattr("verbose_name") %}
                        <th>{{ field.verbose_name.title() }}</th>
                    {% endfor %}
                    {{'{#'}} edit / delete buttons {{'#}'}}
                    {{'{%'}} if edit or delete {{'%}'}}
                    <th>Actions</th>
                    {{'{%'}} endif {{'%}'}}
                </tr>
            </thead>
            <tbody class="bg-base-100">
                {{'{%'}} for {{ model_name_lower }} in {{ model_name_lower }}_list {{'%}'}}
                <tr {{'{%'}} if hover {{'%}'}}class="cursor-pointer hover" onclick="this.querySelector('a')?.click()"{{'{%'}} endif {{'%}'}}>

                    {{'{#'}} field values {{'#}'}}
                    {# first item should be a link #}
                    {% set field = model._meta.get_fields()|selectattr("verbose_name")|first %}
                    <td>
                        <a {{'{%'}} if hover {{'%}'}}href="{{'{{'}}url("{{ model_name_plural_lower }}:detail", pk={{ model_name_lower }}.pk){{'}}'}}"{{'{%'}} endif {{'%}'}}>{{'{{'}} {{ model_name_lower }}.{{ field.name }} {{'}}'}}</a>
                    </td>
                    {# other fields #}
                    {% for field in (model._meta.get_fields()|selectattr("verbose_name")|list)[1:] %}
                        <td>{{'{{'}} {{ model_name_lower }}.{{ field.name }} {{'}}'}}</td>
                    {% endfor %}

                    {{'{#'}} edit and delete button {{'#}'}}
                    {{'{%'}} if edit or delete {{'%}'}}
                    <td>
                        <div class="flex gap-2">
                            {{'{%'}} if edit {{'%}'}}
                            {{'{#'}} edit button {{'#}'}}
                            <a href="{{'{{'}} url("{{ model_name_plural_lower }}:update", pk={{ model_name_lower }}.pk) {{'}}'}}" class="btn btn-sm btn-primary" up-layer="new" up-accept-location="{{'{{'}} url("{{ model_name_plural_lower }}:detail", pk={{ model_name_lower }}.pk) {{'}}'}}" up-on-accepted="up.reload(this.closest('table'))">Edit</a>
                            {{'{%'}} endif {{'%}'}}
                            {{'{%'}} if delete {{'%}'}}
                            {{'{#'}} delete button {{'#}'}}
                            <a href="{{'{{'}} url("{{ model_name_plural_lower }}:delete", pk={{ model_name_lower }}.pk) {{'}}'}}" class="btn btn-sm btn-error" up-layer="new" up-accept-location="{{'{{'}} url("{{ model_name_plural_lower }}:list") {{'}}'}}" up-on-accepted="up.reload(this.closest('table'))">Delete</a>
                            {{'{%'}} endif {{'%}'}}
                        </div>
                    </td>
                    {{'{%'}} endif {{'%}'}}
                </tr>
                {{'{%'}} endfor {{'%}'}}
            </tbody>
        </table>
    </div>

    {{'{#'}} pagination {{'#}'}}
    {{'{%'}} if paginate {{'%}'}}
    <div class="px-4 mt-4">
        {{'{{'}} pagination_links(request, paginator, page_obj, with_query_params=True, object_name="{{ model_name }}s") {{'}}'}}
    </div>
    {{'{%'}} endif {{'%}'}}
    {{'{%'}} else {{'%}'}}
    <div class="my-10 text-xl font-bold text-center">No {{model_name_plural}} found</div>
{{'{%'}} endif {{'%}'}}
</div>
