{% extends 'base.html' %}
{% block main %}
    <div class="flex-1 flex items-center justify-center">
        <form method="post" class="form">
            <div class="card w-full max-w-100">
                <h1 class="text-center m0 mb2">Login</h1>
                {{ csrf_input }}
                {% for error in form.non_field_errors() %}<span class="block text-sm text-red">{{ error }}</span>{% endfor %}
                {% for field in form %}
                    <div class="flex flex-col mb-3">
                        {{ field.label_tag() }}
                        {% for error in field.errors %}<span class="block text-sm text-red">{{ error }}</span>{% endfor %}
                        {{ field }}
                        <!-- help text -->
                        <div class="text-sm text-muted">{{ field.help_text|safe }}</div>
                    </div>
                {% endfor %}
                <button type="submit" class="button w-full !primary">Login</button>
            </div>
            <p class="text-center">
                Don't have an account? <a href='{{ url_for("users:register") }}?next={{ next }}' class="link">Register</a>
            </p>
        </form>
    </div>
{% endblock %}
