<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}App Name Goes Here{% endblock %}
        </title>
        {{vite_hmr_client()}}
        {{vite_asset("resources/js/app.js")}}
    </head>
    <body class="">
        <main class="container mx-auto min-h-screen flex flex-col">
            {% block main %}{% endblock %}
        </main>
    </body>
    <!-- django debug toolbar with htmx -->
    {% if debug %}
        <script>
            if (typeof window.htmx !== "undefined") {
                htmx.on("htmx:afterSettle", function(detail) {
                    if (
                        typeof window.djdt !== "undefined" &&
                        detail.target instanceof HTMLBodyElement
                    ) {
                        djdt.show_toolbar();
                    }
                });
            }
        </script>
    {% endif %}
</html>
